<header fxLayout="row">
  <mat-toolbar color="primary">
    <div fxFlex="20">
      <button *ngIf="isLogged" (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <span>BaldWars</span>
    </div>

    <div fxFlex></div>

    <div *ngIf="isLogged" fxFlex="20" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div style="font-size: 14px;">
        {{ user?.baldCoins }} <fa-icon [icon]="baldCoinsIcon"></fa-icon>
      </div>
      <div style="font-size: 14px;">
        {{ username | titlecase }} <fa-icon [icon]="userIcon"></fa-icon>
      </div>
      <mat-divider [vertical]="true" style="height: 50px;"></mat-divider>
      <button style="margin-right: 16px;" mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </button>
    </div>
  </mat-toolbar>
</header>
