<mat-card class="menu-card">
  <mat-card-header>
    <mat-card-title>{{ this.currentUser?.username }}</mat-card-title>
<!--    <mat-progress-bar
      *ngIf="currentUser != null" mode="determinate"
      [value]="currentUser.xp*100/currentUser.maxXp"
      (mouseover)="displayXpProgress()"
      [matTooltip]="progressTooltip" matTooltipPosition="right">
    </mat-progress-bar>-->
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-grid-list cols="2" rowHeight="fit" gutterSize="10px">
    <mat-grid-tile rowspan="2">
      <mat-card *ngIf="!isLoading else loader">
        <mat-card-title>Name</mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <h3>Warrior name : {{ warrior?.name}}</h3>
            </mat-list-item>

            <mat-list-item>
              <h3 matLine>Level : {{ currentUser?.level }}</h3>
              <mat-progress-bar
                color="accent"
                *ngIf="currentUser != null" mode="determinate"
                [value]="currentUser.xp*100/currentUser.maxXp"
                (mouseover)="displayXpProgress()"
                [matTooltip]="progressTooltip" matTooltipPosition="right">
              </mat-progress-bar>
            </mat-list-item>
            <div matSubheader></div>
            <mat-list-item>
              <h3>Wins : </h3>
            </mat-list-item>
            <mat-list-item>
              <h3>Draws : </h3>
            </mat-list-item>
            <mat-list-item>
              <h3>Losses : </h3>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="2">
      <mat-card *ngIf="!isLoading else loader">

        <mat-card-title-group>
          <mat-card-title>Stats</mat-card-title>
          <p>Total skill points available : {{ warrior?.skillPoints }}</p>
        </mat-card-title-group>

        <mat-card-content class="customCardContent">
          <mat-list>
            <mat-list-item>
              <h3 matLine>Level : {{ warrior?.level }}</h3>
            </mat-list-item>

            <mat-list-item>
              <h3 matLine>Health : {{ warrior?.health }}</h3>
              <mat-icon (click)="decreaseHealth()">horizontal_rule</mat-icon>
              <mat-icon (click)="increaseHealth()">add</mat-icon>
            </mat-list-item>

            <mat-list-item>
              <h3 matLine>Moves : {{ warrior?.moves }}</h3>
              <mat-icon (click)="decreaseMoves()">horizontal_rule</mat-icon>
              <mat-icon (click)="increaseMoves()">add</mat-icon>
            </mat-list-item>

            <mat-list-item>
              <h3 matLine>Actions : {{ warrior?.actions }}</h3>
              <mat-icon (click)="decreaseActions()">horizontal_rule</mat-icon>
              <mat-icon (click)="increaseActions()">add</mat-icon>
            </mat-list-item>
          </mat-list>
          <mat-card-actions align="end" style="margin-top: 2px">
            <button mat-button (click)="updateWarrior()">
              <mat-icon>save</mat-icon>
            </button>
          </mat-card-actions>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card *ngIf="!isLoading else loader">
        <mat-card-title>Weapon</mat-card-title>
        <mat-card-content class="customCardContent">
          <mat-list *ngFor="let weapon of weapons">
            <mat-list-item>
              <button mat-button (click)="openDialog(weapon.name, weapon.level, weapon.damage, weapon.cost, weapon.minRange, weapon.maxRange)">
                Name : {{ weapon.name }}
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card *ngIf="!isLoading else loader">
        <mat-card-title>AI</mat-card-title>
        <mat-card-content>User AI</mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <ng-template #loader>
      <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </ng-template>
  </mat-grid-list>
</mat-card>

<mat-card class="combat-history-card">
  <mat-card-header>
    <mat-card-title>Combat history</mat-card-title>
  </mat-card-header>
  <!--    <table mat-table>
        <ng-container matColumnDef="position">
          <th mat-header-cell>Date</th>
          <td mat-cell> hey </td>
        </ng-container>
      </table>-->
  // TODO: implement "Table with sticky header"
</mat-card>
