<mat-card class="menu-card">
  <mat-card-header>
    <mat-card-title>{{ this.currentUser?.username }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-grid-list cols="2" rowHeight="fit" gutterSize="20px">
    <mat-grid-tile>My leek</mat-grid-tile>
    <mat-grid-tile>Stats</mat-grid-tile>
    <mat-grid-tile>Caracteristics</mat-grid-tile>
    <mat-grid-tile>Weapon</mat-grid-tile>
  </mat-grid-list>
</mat-card>
<mat-card class="combat-history-card">
  <mat-card-header>
    <mat-card-title>Combat history</mat-card-title>
  </mat-card-header>
  <!--    <table mat-table>
        <ng-container matColumnDef="position">
          <th mat-header-cell>Date</th>
          <td mat-cell> hey </td>
        </ng-container>
      </table>-->
  // TODO: implement "Table with sticky header"
</mat-card>
