<mat-card class="menu-card">
  <mat-card-header>
    <mat-card-title>{{ this.currentUser?.username }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-grid-list cols="2" rowHeight="fit" gutterSize="20px">
    <mat-grid-tile>
      <mat-card *ngIf="!isLoading else loader">
        <mat-card-title>Name</mat-card-title>
        <mat-card-content>{{ warrior?.name}}</mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card *ngIf="!isLoading else loader">
        <mat-card-title>Stats</mat-card-title>
        <mat-card-content>
          <ul>
            <li>Level : {{ warrior?.level }}</li>
            <li>Health : {{ warrior?.health }}</li>
            <li>Moves : {{ warrior?.moves }}</li>
            <li>Actions : {{ warrior?.actions }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card *ngIf="!isLoading else loader">
        <mat-card-title>Weapon</mat-card-title>
        <mat-card-content>User Weapon</mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card *ngIf="!isLoading else loader">
        <mat-card-title>AI</mat-card-title>
        <mat-card-content>User AI</mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <ng-template #loader>
      <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </ng-template>
  </mat-grid-list>
</mat-card>

<mat-card class="combat-history-card">
  <mat-card-header>
    <mat-card-title>Combat history</mat-card-title>
  </mat-card-header>
  <!--    <table mat-table>
        <ng-container matColumnDef="position">
          <th mat-header-cell>Date</th>
          <td mat-cell> hey </td>
        </ng-container>
      </table>-->
  // TODO: implement "Table with sticky header"
</mat-card>
