.page-container {
  width: 80%;
  margin: auto;
  .editor-container {
    height: 500px;
    width: 80%;
    margin: auto;
    background-color: #1e1e1e;

    mat-card-header {
      color: white;
    }

    .mat-button {
      background-color: white;
    }

    .editor-content {
      height: 400px;
      margin-bottom: 0px;
    }

    .header-actions {
      padding-top: 0px;
      padding-right: 10px;

      mat-card-title {
        margin-top: 0px;
        padding: 2px;
      }
    }

    mat-card-title-group {
      width: 100%;
    }
  }
}
