<div style="margin-top: 5em;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <form [formGroup]="scriptForm" style="width: 100%;">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div>
        <mat-form-field>
          <mat-select formControlName="name" (selectionChange)="selectScript($event)">
            <mat-option *ngFor="let script of scripts" [value]="script.name"> {{ script.name }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-raised-button color="warn" (click)="testScript(scriptForm.value)">
        <mat-icon>search</mat-icon>
        Test
      </button>
      <button mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Create
      </button>
    </div>

    <div class="editor-container">
      <ngx-monaco-editor style="height: 100%;"
                         [options]="editorOptions"
                         formControlName="content">
      </ngx-monaco-editor>
    </div>
  </form>
</div>

<div *ngIf="error !== ''" style="width: 70%; margin: 1em auto 2.5em auto;">
  <mat-card  style="background: lightcoral;">
    <mat-card-header>
      <mat-card-title>Error</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      {{ error }}
    </mat-card-content>
  </mat-card>
</div>
