mat-card {
  width: 60%;
  margin: auto;
  mat-grid-list {
    height: 200px;

    mat-grid-tile {
      cursor: pointer;

      color: white;
      text-align: center;
    }
  }
}

mat-grid-tile {
  background-color: #3e51b2;
}
