<mat-card>
  <mat-card-header>
    <mat-card-title>Lobby</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <button mat-button (click)="chooseLeek()">Choose your leek</button>
  </mat-card-content>
  <mat-card-footer>
    <mat-grid-list cols="5" rowHeight="fit" gutterSize="10px">
      <mat-grid-tile *ngFor="let opp of opponents" (click)="fightOpponent(opp)">
        <div *ngIf="!isLoading else loader">
          <h2>{{ opp.username }}</h2>
          <h3>Rank : {{ opp.rank }}</h3>
        </div>
        <ng-template #loader>
          <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
        </ng-template>
      </mat-grid-tile>
<!--      <mat-grid-tile>1</mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>-->
    </mat-grid-list>
  </mat-card-footer>
</mat-card>

<button (click)="fun(opponents[0].id)">
  click
</button>
