@import "~angular-notifier/styles";
@import "~@fortawesome/fontawesome-svg-core";
@import "~normalize.css";

//html, body {
//  width:100%;
//  height: 100%;
//}

html, body, main {
  margin: 0;
  padding: 0;
}

.spinner_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
  z-index: 1000;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.engine-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  #renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
  }

  #renderCanvas:focus {
    outline: none;
  }
}
